.displayEvents {
    position: absolute;
    width: 38vw;
    padding: 0;
    left: 1vw;
    border: none;
    list-style-type: none;
    margin: 0;
}
@media (max-width:800px){
    .displayEvents {
        position: relative;
        width: 100vw;
        padding: 0;
        left: 0;
        border: none;
        list-style-type: none;
        margin: 0;
    }
}



.address {
    color: rgb(160, 160, 160);
    font-size: 10px;
}

.event {
    color: whitesmoke;
    padding: 5px;
    background-color: rgb(49, 49, 49);
    
}
.event:hover {
    background-color: rgb(97, 120, 128);
}
.event::after {
    content: '';
    display: block;
    position: absolute;
    width: 96%;
    height: 5px;
    left: 2%;
    border-bottom: rgb(80, 78, 78) solid 1px;
}

ul.no-bullets {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margins */
}

.DEcarousel-item {
    width: 38vw;
    height: 40vh;
}
@media (max-width: 800px){
    .DEcarousel-item {
        width: 100vw;
        height: 40vh;
    }
}
.DEcarousel-img {
    display: block;
    height: 100%;
    width: auto;
    object-fit: contain;
}

.DEtitle-txt {
    color: whitesmoke;
}
.DEtitle-txt:hover {
    color: rgb(252, 30, 141);    
}