.map-container {
    display: inline-block;
    position: relative;
    margin: 0;
}

.map-title {
    color: rgb(34, 34, 34) !important;
    position: absolute;
    top: 1rem;
    left: 1rem;
    color: #232323;
    z-index: 10;
    margin: 0;
    padding: 0;
}

.locate {
    position: absolute;
    top: 1rem;
    left: 55vw;
    background: none;
    border: none;
    z-index: 10;
    color: rgb(202, 25, 114);
}
@media (max-width:600px){
    .locate {
        position: absolute;
        top: 1rem;
        left: 85vw;
        background: none;
        border: none;
        z-index: 10;
        color: rgb(202, 25, 114);
    }
}
