.banner-container {
    position: relative;
    height: 100vh;
    min-width: 100%;
}

.banner-img {
    background-image: url('./pageImages/pablo-heimplatz-ZODcBkEohk8-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.banner-imgs {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 1;
}

.home-page {
    position: relative;
    background-color: rgb(26, 26, 26);
    z-index: 0;
}

.home-container1 {
    position: relative;
    background-color: white;
    height: 70vh;
    z-index: 2;
}

.home-carousel {
    top: 60px;
    height: calc(100% - 80px);
}

.home-carousel-item {
    width: 100%;
    height: calc(100vh - 60px);
}
.home-carousel-img {
    height: 100%;
    width: auto;
    object-fit: cover;
}