.account-container {
    width: 100vw;
    margin-top: 60px;
    position: relative;
    background-color: rgb(255, 255, 255);
}

.account-side {
    background-color: rgb(43, 43, 43);
    top: 60px;
    bottom: 0;
    color: white;
    width: 180px;
    text-align: center;
    position: fixed;
    overflow-y: auto;
    display: inline;
    z-index: 3;
}
.account-side::-webkit-scrollbar {
    width: 10px;
}
.account-side::-webkit-scrollbar-track {
    background: #b6b6b6;
    border-radius: 10px;
}
.account-side::-webkit-scrollbar-thumb {
    background: rgb(163, 21, 92);
    border-radius: 10px;
}
.account-side::-webkit-scrollbar-thumb:hover {
    background: rgb(252, 30, 141);
}

.side-toggle-btn {
    background: none;
    border: none;
    color: white;
    font-size: x-large;
}
.side-toggle-btn:hover {
    color: rgb(252, 30, 141);
}

.account-side-colapsed {
    margin: 5px;
    position: fixed;
    background-color: rgb(43, 43, 43);
    top: 60px;
    color: white;
    z-index: 3;
}

.account-avatar {
    display: block;
    margin: 35px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 0;
}

.account-side-list {
    margin-top: 10vh;
}

.account-side-item {
    font-size: 20px;
    margin-top: 30px;
    text-decoration: none;
}
.account-side-item:hover {
    text-decoration: underline;
    text-decoration-color: rgb(252, 30, 141);
    text-decoration-thickness: 2px;
}

.account-content {
    position: absolute;
    width: calc(100% - 150px);
    left: 150px;
    padding: 50px;
}
@media (max-width: 800px) {
    .account-content {
        width: 100%;
        left: auto;
    }
}